<!-- ↓↓↓ 大图滚动banner 代码块 ↓↓↓ -->
<div class="panel panel-default" id="carousel">
  大图滚动，参考极简生活的代码
</div>
<!-- ↑↑↑ 大图滚动banner 代码块 ↑↑↑ -->

<!-- ↓↓↓ 分类信息 代码块 ↓↓↓ -->
<div class="row">

  <div class="col-md-4">
    <div class="panel panel-default" id="discount">
      Discount
    </div>
  </div>

  <div class="col-md-8">
      <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default" id="cloths">gift</div>
          </div>

          <div class="col-md-6">
            <div class="panel panel-default" id="cloths">women</div>
          </div>

          <div class="col-md-6">
            <div class="panel panel-default" id="cloths">men</div>
          </div>
      </div>
  </div>
</div>
<!-- ↑↑↑ 分类信息  代码块 ↑↑↑ -->

<hr>

<!-- ↓↓↓ 精选产品  代码块 ↓↓↓ -->
<h2 class="text-center">Featured Products</h2>

<div class-"row">
  <div class="col-md-3">
    <div class="panel panel-default" id="products">
      Product
    </div>
  </div>
</div>

<div class-"row">
  <div class="col-md-3">
    <div class="panel panel-default" id="products">
      Product
    </div>
  </div>
</div>

<div class-"row">
  <div class="col-md-3">
    <div class="panel panel-default" id="products">
      Product
    </div>
  </div>
</div>

<div class-"row">
  <div class="col-md-3">
    <div class="panel panel-default" id="products">
      Product
    </div>
  </div>
</div>
<!-- ↑↑↑ 精选产品  代码块 ↑↑↑ -->

<!-- ↓↓↓ 季度新品  代码块 ↓↓↓ -->
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default" id="season">
      Season
    </div>
  </div>
</div>
<!-- ↑↑↑ 季度新品  代码块 ↑↑↑ -->

<hr>

<!-- ↓↓↓ 博客  代码块 ↓↓↓ -->
<h2 class="text-center">Blogs</h2>

<div class-"row">
  <div class="col-md-3">
    <div class="panel panel-default" id="blogs">
      Blog
    </div>
  </div>
</div>

<div class-"row">
  <div class="col-md-3">
    <div class="panel panel-default" id="blogs">
      Blog Pic
    </div>
  </div>
</div>

<div class-"row">
  <div class="col-md-3">
    <div class="panel panel-default" id="blogs">
      Blog
    </div>
  </div>
</div>

<div class-"row">
  <div class="col-md-3">
    <div class="panel panel-default" id="blogs">
      Blog Pic
    </div>
  </div>
</div>

<div class-"row">
  <div class="col-md-3">
    <div class="panel panel-default" id="blogs">
      Blog
    </div>
  </div>
</div>

<div class-"row">
  <div class="col-md-3">
    <div class="panel panel-default" id="blogs">
      Blog Pic
    </div>
  </div>
</div>

<div class-"row">
  <div class="col-md-3">
    <div class="panel panel-default" id="blogs">
      Blog
    </div>
  </div>
</div>

<div class-"row">
  <div class="col-md-3">
    <div class="panel panel-default" id="blogs">
      Blog Pic
    </div>
  </div>
</div>
<!-- ↑↑↑ 博客  代码块 ↑↑↑ -->

<!-- ↓↓↓ 合作方 代码块 ↓↓↓ -->
<table class="table table-bordered">
  <tr>
    <td class="td">brand pic</td>
    <td class="td">brand pic</td>
    <td class="td">brand pic</td>
    <td class="td">brand pic</td>
  </tr>
</table>
<!-- ↑↑↑ 合作方 代码块 ↑↑↑ -->
