/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/earlyaccess/notosanssc.css');   //引入google思源黑简在线字体 需要使用VPN才可生效

.sign_up_back {
  background-image: url('http://www.51pptmoban.com/d/file/2014/05/11/787d3e498da7b69e0a92bc465dff6d40.jpg');
  height:600px;
  margin: 0 -30px -100px -30px;
}

.sign_up_box {
  height: 380px;
  border-style: solid;
  margin-top: 100px;
  border-radius: 15px;
}


.footer {
  height: 200px;
  margin-top: 100px;

}

.navbar-default {
  background-color: black;
  margin-bottom: 0;
}

.navbar {
  border-radius: 0;
  border: 0;
}

.navbar-default .navbar-brand {
  color: white;
  padding: 10px 50px 10px 30px;
  line-height: 30px;
}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus {
  color: #BDBDBD;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #BDBDBD;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
 color: #BDBDBD;
 background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
 color: #BDBDBD;
 background-color: transparent;
}

.footer{
  text-align: center;
  min-height: 200px;
  background-color: black;
  padding: 15px 0;
  color: #fff;
  font-size: 14px;

  h4 {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 15px;
  }

  li {
    margin-top: 5px;
  }

  a {
    text-decoration:none;
    color: #ccc;
  }

  a:hover,
  a:active,
  a:focus {
    color: #eb5424;
  }

  img {
    display: inline-block;
    margin-top: -6px;
    margin-right: 8px;
    width: 30px;
    height: 30px;
    border: 2px solid #ffffff; /* Logo 外框 */
    border-radius: 25px; /* Logo 切成圓形 */
  }

  p {
    a {
      color: #ddd;
    }
    a:hover {
      color: #eb5424;
    }
  }

  .footer-box {
    text-align: left !important;
    margin-top: 15px;
  }

  .footer-content {
    font-size: 16px;
    font-family: Raleway;
    color: #ddd;
    letter-spacing: 1px;
    margin-top: 10px;
    font-weight: 200;

    img {
      width: 25px;
      margin-left: 7.5px;
      margin-right: -0.1px;
    }

    img:hover {
      opacity: 1;
    }
  }
}

.search_box {
  margin-top: 13px;
}
