// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#carousel {
    background-color: #E0E0E0;
    height: 700px;
}

#discount {
    background-color: #E0E0E0;
    height: 420px;
}

#cloths {
    background-color: #E0E0E0;
    height: 200px;
}

#products {
    background-color: #E0E0E0;
    height: 350px;
}

#season {
    background-color: #E0E0E0;
    height: 200px;
}

#blogs {
    background-color: #E0E0E0;
    height: 200px;
}

.td {
  height: 80px;
}
